*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}
header.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #ffffff;
    color: #23abff;
}
div.conteiner-add-post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div.conteiner-add-post div.flex-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
div.conteiner-add-post div.flex-options input[type=text]{
    border: none;
    color: black;
    outline: none;
    background-color: none;
}
div.conteiner-add-post div.flex-options input[type=submit]{
    padding: 10px 20px;
    background-color: #333;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.conteiner-add-post div.info-post-textarea textarea{
    border: 1px solid #000;
    resize: none;
    outline: none;
    background: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

